<h1>
  {{titleObject.title}}
  -
  <app-current-time *ngIf="timeFlag"></app-current-time>
</h1>

<button (click)="toggle()">toggle time</button>

<div class="components">
  <div>
    <app-click-count></app-click-count>

    <app-render-info></app-render-info>

    <input [(ngModel)]="titleObject.title"/>
    <button (click)="resetTitleObject()">reset</button>

  </div>
</div>
<hr/>

<div class="container">
  <div class="column">
    <input type="checkbox" id="c1"
           [(ngModel)]="componentFlags.c1">
    <label for="c1">Component with primitive input</label>
  </div>
  <div class="column">
    <input type="checkbox" id="c2"
           [(ngModel)]="componentFlags.c2">
    <label for="c2">Component with object and observable input</label>
  </div>
  <div class="column">
    <input type="checkbox" id="c3"
           [(ngModel)]="componentFlags.c3">
    <label for="c3">Component with observable input</label>
  </div>
  <div class="column">
    <input type="checkbox" id="c4"
           [(ngModel)]="componentFlags.c4">
    <label for="c4">Detached component</label>
  </div>
</div>

<div class="container">
  <app-container name="Component with primitive input"
                 [text]="titleObject.title"
                 *ngIf="componentFlags.c1"></app-container>

  <app-container name="Component with object and observable input"
                 [textInObject]="titleObject"
                 *ngIf="componentFlags.c2"></app-container>

  <app-container name="Component with observable input"
                 [timeObservable]="time$"
                 *ngIf="componentFlags.c3"></app-container>

  <app-container-detached name="Detached component"
                          *ngIf="componentFlags.c4"></app-container-detached>
</div>
